{# Meta Description #}
{% if page.description %}
  <meta name="description" content="{{ page.description | striptags | truncate(150) }}">
{% elif page.excerpt %}
  <meta name="description" content="{{ page.excerpt | striptags | truncate(150) }}">
{% elif config.description %}
  <meta name="description" content="{{ config.description }}">
{% endif %}